.env
__pycache__
.ruff_cache
.env.development
.env.production


node_modules/
data_pipeline/requirements.txt

## Frontend
frontend/node_modules
frontend/.vscode
frontend/.ruff_cache
frontend/.next
frontend/.vite
.DS_Store
app/services/.DS_Store

# Build output
frontend/dist